# Ignore everything
.gitignore
*/.DS_Store
.*/
.*
build/
target/

# But not Java files...
!.gitignore
!*.java
!README.md
!LICENSE
!gradlew.bat
!gradlew
!build.gradle.kts
!.travis.yml
!settings.gradle
!checkstyle.xml
!.codeclimate.yml

# ...even if they are in subdirectories
!*/*
!test-results/
!test-results/lua/wrk2-scripts/
!*.lua
